.comments
{
    &__top
    {
        display: flex;

        margin-bottom: 30px;
        padding-bottom: 65px;

        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA3AAAAAsAgMAAABZILJVAAAADFBMVEUmJibRETomJibRETpSQoiWAAAAAnRSTlMAAHaTzTgAAAD3SURBVGje3dq7bcRAEATRpqEMdPmcMpBxk+QkWTK4bEcZlEcU6BB84Gd2s9kv+F1mhvvQUq6IL+4rm33B++QLPp6SzQ7k5MB4SnIfAgPcp1hKct/EJ7/grSn5HKwnX+ApmYP15ICnhGKdcrWU8PNgnYerpoR5sM7DVVNCsU65agrFSrlaSihWylVSJhQr5WopoVgpV0vJFOuWq6VkinXL1VJyFeuWq6UkxbrlainZYk25Wkr2+1/WFPnFmVmqHyjqV4H6Ja7+/FJ/ONt/edQ/q+Ixg3pApB7tqYey5nG6eiFEvYSlXnxULxurF/ztWzXUm2y026P+AKkQ0PBGIA98AAAAAElFTkSuQmCC);
        background-repeat: repeat-x;
        background-position: 50% 100%;

        justify-content: space-between;

        @media (max-width: 650px)
        {
            display: block;
        }
    }

    &__social
    {
        margin-bottom: 10px;
    }

    &__info
    {
        display: flex;

        margin-bottom: 10px;
        padding-top: 10px;

        justify-content: space-between;

        @media (max-width: 310px)
        {
            display: block;
        }
    }

    &__view
    {
        font-size: 14px;

        margin-right: 41px;
        padding-left: 31px;

        color: $gray;

        &::before
        {
            top: 4px;

            width: 20px;
            height: 13px;
        }

        @media (max-width: 830px)
        {
        }
    }

    &__coment
    {
        font-size: 16px;

        padding-left: 25px;

        color: $gray;
    }

    &__title
    {
        font-size: 24px;
        font-weight: bold;

        color: $red;
    }

    &__add-coment
    {
        font-size: 16px;
        font-weight: 600;

        margin-top: 10px;
        padding-left: 25px;

        cursor: pointer;

        color: $gray-dark;

        &:hover
        {
            color: $red;
        }

        &_red
        {
            color: $red;

            &::before
            {
                background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxNSI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDExMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5tZXNzYWdlX3JlZDwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMy41LDBIMS41QTEuNSwxLjUsMCwwLDAsMCwxLjVWMTVsMy0zSDEzLjVBMS41MSwxLjUxLDAsMCwwLDE1LDEwLjV2LTlBMS41LDEuNSwwLDAsMCwxMy41LDBoMFptMCwwIi8+PC9zdmc+) !important;
            }
        }
    }

    &__form-top
    {
        display: flex;

        margin-bottom: 30px;
        padding: 0 20px;

        justify-content: space-between;
    }

    &__form
    {
        overflow: hidden;

        box-sizing: border-box;
        width: 100%;
        height: 0;
        padding: 0 20px;

        transition: all $time-transition2 ease-in;

        opacity: 0;

        &_open
        {
            overflow: visible;

            height: auto;

            transition: all $time-transition2 ease-in;

            opacity: 1;
        }

        .button
        {
            padding-right: 59px;
            padding-left: 59px;
        }
    }

    &__form-row
    {
        padding-bottom: 25px;
    }

    &__form-lable
    {
        font-size: 22px;

        margin: 0 0 4px;

        color: $gray-dark;
    }

    &__form-error
    {
        font-size: 16px;

        color: $red;
    }

    &__form__pole
    {
        font-size: 22px;
        border-radius: 12px;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;

        color: $gray-dark;
        border: 1px solid $gray-light-medium;

        &_textarea
        {
            min-height: 100px;
        }
    }

    &__form-error + &__form__pole
    {
        border-color: $red;
    }
}
