<div class="mail-delivery__title">{{ 'subs.title_short'|trans() }}</div>
<div class="mail-delivery__text">{{ 'subs.done'|trans() }}</div>

<div class="mail-delivery__button">
    <input type="button" value="{{ 'subs.unsubscribe'|trans() }}">
</div>
