{% extends 'PortalContentBundle::base.html.twig' %}

{% block title %}
    {{ 'unsubscribe'|trans }} | {{ parent() }}
{% endblock %}

{% block pageTitle %}
    {{ 'unsubscribe'|trans() }}
{% endblock %}

{% block sideBar %}{% endblock %}

{% block content %}
    <div class="media _size_full">
        {{ 'unsubs_complit'|trans() }}
    </div>
{% endblock %}
