<!DOCTYPE html>
<html>
<title>Правительство Республики Крым</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description"/>
<meta name="keywords"/>
<link rel="stylesheet" href="/themes/public/style.css"/>
<body class="page error"><a href="/" class="logo"><span>Правительство Республики Крым</span>Официальный портал</a>
<div class="nav__search">
    <form action="/search" id="topSearchForm">
        <input type="text" name="query" placeholder="Поиск по сайту..." class="nav__pole nav__pole--visible">
        <input type="submit" value="Искать" class="nav__button-submit nav__button-submit--visible" />
    </form>
</div>
<div class="error__message">
    <div class="error__number"><b>404</b>Not Found</div>
    <div class="error__content">
        <div class="error__title">Ошибка.<b>Страница не найдена</b></div>
        <div class="error__text" style="text-align: justify;">
            Для поиска необходимой страницы, вы можете воспользоваться поисковой строкой.<br/>
        </div><a href="/" class="error__link">на главную страницу</a>
    </div>
</div>
</body>
</html>