<!DOCTYPE html>
<html>
<title>Правительство Республики Крым</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description"/>
<meta name="keywords"/>
<link rel="stylesheet" href="/themes/public/style.css"/>
<body class="page error error_works"><a href="/" class="logo"><span>Правительство Республики Крым</span></a>
<div class="error__message">
    <div class="error__content error__content_long">
        <div class="error__title"><br><br><b>Уважаемые пользователи Портала Правительства Республики Крым!</b></div>
        <div class="error__text">
            <p>На Портале проводятся плановые технические работы с целью улучшения функционирования сервисов Портала Правительства.</p>

            <p>Приносим извинения за доставленные неудобства.</p>
        </div>
    </div>
</div>
</body>
</html>