.page
{
    font: $font-size/1.5 $font-family;

    min-width: 280px;
    margin: 0;
    padding: 84px 0 0 0;

    @media (max-width: 550px)
    {
        padding-top: 170px;
    }

    &_search-open
    {
        @media (max-width: 550px)
        {
            padding-top: 238px;
        }
    }
}
