.languages
{
    position: absolute;
    z-index: 30;
    right: 0;

    width: 110px;
    height: 84px;

    @media (max-width: 622px)
    {
        bottom: 0;
    }

    &__selected
    {
        font-size: 160%;
        font-weight: bold;
        line-height: 84px;

        position: relative;
        z-index: 10;

        box-sizing: border-box;
        width: 110px;
        height: 84px;
        padding-left: 30px;

        cursor: pointer;
        //transition: all $time-transition2 ease-in;
        text-align: center;
        text-transform: uppercase;

        color: $gray-dark;
        background: $gray-light;

        &:hover
        {
            //transition: all $time-transition2 ease-in;
            color: $white;
            background: $red;
        }

        &_hover
        {
            color: $white;
            background: $red;
        }
    }

    &__nav
    {
        position: absolute;
        z-index: 20;
        top: 67px;
        left: 10px;

        display: block;
        overflow: hidden;

        width: 90px;
        height: 0;
        //transition: opacity $time-transition ease-in;

        opacity: 0;
        background: $white;
        //box-shadow: 0 10px 36px 19px rgba(141,150,178,0.45);
        box-shadow: 0 10px 36px 19px rgba(0,0,0,0.1);

        &::before
        {
            position: absolute;
            top: -20px;
            left: 35px;

            content: '';

            border: 10px solid transparent;
            border-bottom: 10px solid $white;
        }

        &_hover
        {
            overflow: visible;

            height: auto;
            padding: 10px 0;
            //transition: opacity $time-transition ease-in;

            opacity: 1;
        }
    }

    &__item
    {
        font-size: 160%;
        font-weight: bold;

        display: block;

        padding: 11px 30px;

        cursor: pointer;
        text-transform: uppercase;

        color: $gray-dark;

        &:hover
        {
            text-decoration: none;

            color: $red;
        }
    }
}
