.idea
/web/bundles/
/web/uploads/*
#/app/bootstrap.php.cache
/app/cache/*
/app/sites/*
/app/config/parameters.yml
/app/fixtures/InstanceFixture.php
app/fixtures/InstanceFixture.php
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/dump
# /bin/
/bin/doctrine
/bin/doctrine-dbal
/bin/doctrine-migrations
/bin/doctrine.php
/bin/security-checker
/bin/symfony_requirements
/composer.phar
composer.lock
/var/cache/*
/var/logs/*
var/bootstrap.php.cache

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#Frontend modules
node_modules/
npm-debug.log
.tmp/

profile_files.xls

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/themes/*
web/users/*
web/docs
web/fc
esia
web/piwik
web/file/
web/file/*
web/rus/
web/rus/*
web/oracle/
web/oracle/*

