.tabs
{
    width: 100%;
    margin-bottom: 50px;

    &__caption
    {
        position: relative;

        display: flex;

        margin: -1px 0 0 -1px;
        padding: 0 30px 0 5px;

        list-style: none;

        background: $gray-light url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAsBAMAAADlQedIAAAAD1BMVEUmJibSETr///8mJibSETqf5Z8iAAAAA3RSTlMAAAD6dsTeAAAAk0lEQVQoz52T0RGAIAhA0QnUCdIVXIH9Z0rkOqHgTuvDzlc+ERAaPxWx9zhGesMhrDnTJAUFEXlKHxFfkAU7kK1io2UVIS2BC8fioqzAfxVlfaAUNAfWnBCDtAJwfrR1QSGwIRkJylhhDqCtE8ZLC3z4WW5utB+nc0wrIfv59MphFW6/7k7b2A123p+qva2L8Pty3R4kpWm81G38AAAAAElFTkSuQmCC) 100% 50% no-repeat;

        flex-wrap: wrap;

        li
        {
            font-size: 150%;
            font-weight: bold;

            position: relative;

            padding: 11px 15px;

            text-align: center;

            color: $gray-dark;

            @media (max-width: 1210px)
            {
                padding-right: 10px;
                padding-left: 10px;
            }

            @media (max-width: 1150px)
            {
                padding-right: 5px;
                padding-left: 5px;

                text-align: left;
            }

            &:not(.active)
            {
                cursor: pointer;

                &:hover
                {
                    color: $red;
                }
            }
        }

        &:after
        {
            display: table;
            clear: both;

            content: '';
        }

        .active
        {
            color: $red;
        }
    }

    &__content
    {
        display: none;

        &.active
        {
            display: block;

            min-height: 300px;
        }
    }
}
