.contacts-below
{
    display: flex;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 25px;

    border-top: 1px solid $gray-light-medium;

    justify-content: space-between;
    //justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    a
    {
        text-decoration: none;
    }

    &__inform
    {
        text-align: right;

        @media (max-width: 1185px)
        {
            text-align: center;
        }

        @media (max-width: 525px)
        {
            margin: 20px 10px;
        }
    }

    &__phone
    {
        font-size: 200%;

        color: $gray;
    }

    &__addres
    {
        font-size: 140%;

        color: $gray;
    }

    &__email
    {
        font-size: 140%;

        color: $gray;

        a
        {
            text-decoration: none;

            color: $gray;
        }
    }
    & .age-limit{
        font-size: 24px;
        & span{
            padding: 4px 12px;
            border: 1px solid #000;
        }
    }
}
