.mobile-nav
{
    position: absolute;
    z-index: 50;
    top: 22px;
    right: 280px;

    box-sizing: border-box;
    width: 44px;
    min-height: 45px;

    @media (min-width: 1730px)
    {
        display: none;
    }

    @media (max-width: 810px)
    {
        right: 220px;
    }

    @media (max-width: 622px)
    {
        right: 10px;
    }

    &__button
    {
        font-size: 180%;

        position: absolute;
        z-index: 10;
        top: 0;

        display: block;

        width: 44px;
        height: 44px;

        cursor: pointer;
        text-align: center;
        text-decoration: none;

        color: $black;

        &:before
        {
            font: 20px/200% $font-avesome;

            content: '\f0c9';
        }
    }

    &__menu
    {
        position: absolute;
        top: 44px;
        left: 50%;

        overflow: hidden;

        min-width: 250px;
        height: 0;

        transition: all $time-transition2 ease-in;
        transform: translate(-50%, 0);

        opacity: 0;
        background: $white;
        //box-shadow: 0 10px 36px 19px rgba(141,150,178,0.45);
        box-shadow: 0 10px 36px 19px rgba(0,0,0,0.1);

        @media (max-width: 500px)
        {
            right: 0;
            left: auto;

            transform: translate(0, 0);
        }

        &_open
        {
            overflow: visible;

            height: auto;

            transition: all $time-transition2 ease-in;

            opacity: 1;
        }
    }

    &__list
    {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__link
    {
        font-size: 160%;
        font-weight: 600;

        display: block;

        padding: 10px 19px;

        transition: color $time-transition2 ease-in;

        color: $gray-dark;

        &:visited,
        &:focus
        {
            text-decoration: none;

            color: $gray-dark;
        }

        &:hover
        {
            transition: color $time-transition2 ease-in;
            text-decoration: none;

            color: $red;
        }

        &._no-link
        {
            cursor: default;

            color: #d2113a;
        }
    }
}
