.owl-my-style
{
    width: 100%;
    //max-width: 870px;
    margin: 0;
    padding-bottom: 60px;

    @media (max-width: 1140px)
    {
        max-width: 600px;
        margin: 0 auto;
    }

    @media (max-width: 935px)
    {
        max-width: 300px;
        margin: 0 auto;
    }

    .owl-carousel
    {
        .owl-nav
        {
            position: absolute;
            right: 0;

            button.owl-prev
            {
                width: 50px;
                height: 50px;

                background: $gray-light url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX2xlZnRfcmVkPC90aXRsZT4gIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgsMTZsMS40MS0xLjQxTDMuODMsOUgxNlY3SDMuODNMOS40MSwxLjQyLDgsMCwwLDhaIi8+PC9zdmc+');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 16px 16px;

                &:hover
                {
                    background: $red url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX2xlZnRfd2hpdGU8L3RpdGxlPiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNOCwxNmwxLjQxLTEuNDFMMy44Myw5SDE2VjdIMy44M0w5LjQxLDEuNDIsOCwwLDAsOFoiLz48L3N2Zz4=');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 16px 16px;
                }
            }

            button.owl-prev.disabled
            {
                &:hover
                {
                    background: $gray-light url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX2xlZnRfcmVkPC90aXRsZT4gIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgsMTZsMS40MS0xLjQxTDMuODMsOUgxNlY3SDMuODNMOS40MSwxLjQyLDgsMCwwLDhaIi8+PC9zdmc+') ;
                    background-repeat: no-repeat ;
                    background-position: 50% 50% ;
                    background-size: 16px 16px ;
                }
            }

            button.owl-next
            {
                width: 50px;
                height: 50px;

                background: $gray-light url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX3JpZ2h0X3JlZDwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04LDBMNi41OSwxLjQxLDEyLjE3LDdIMFY5SDEyLjE3TDYuNTksMTQuNTgsOCwxNmw4LThaIi8+PC9zdmc+');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 16px 16px;

                &:hover
                {
                    background: $red url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX3JpZ2h0X3doaXRlPC90aXRsZT4gIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgsMEw2LjU5LDEuNDEsMTIuMTcsN0gwVjlIMTIuMTdMNi41OSwxNC41OCw4LDE2bDgtOFoiLz48L3N2Zz4=');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 16px 16px;
                }
            }

            button.owl-next.disabled
            {
                &:hover
                {
                    background: $gray-light url('data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5hcnJvd19ibG9nX3JpZ2h0X3JlZDwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04LDBMNi41OSwxLjQxLDEyLjE3LDdIMFY5SDEyLjE3TDYuNTksMTQuNTgsOCwxNmw4LThaIi8+PC9zdmc+');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 16px 16px;
                }
            }
        }
    }
}

.owl-theme .owl-nav [class*='owl-']
{
    margin: 5px 0 !important;
}
