.social-bottom
{
    margin-top: 25px;

    &__item
    {
        position: relative;

        display: block;
        float: left;

        width: 42px;
        height: 42px;
        margin-right: 20px;

        border-radius: 42px;
        background: $gray-light;

        &:hover
        {
            background: $red;
        }
    }
}
