<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                <h4 class="modal-title">{{ 'interview_form.modal_message_delete'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p><a class="btn btn-danger" href="{{ path("admin_instance_interview_form_delete", { id: interview.id, 'instanceCode': instanceCode }) }}"><i class="fa fa-minus-circle"></i> {{ 'delete'|trans }}</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ 'close'|trans }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
