mixin head()
    title Портал правительства
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)

    link(rel="stylesheet" href="public/style.css")

    script(src="public/script.js")

    //script(src="https://rk.gov.ru/bundles/fosjsrouting/js/router.js")
    //script(src="https://rk.gov.ru/js/routing?callback=fos.Router.setData")


