.side-menu{
    position:absolute;
    height:100vh;
    .menu{
        background-color: $dark-blue;
        position: fixed;
        height:100vh;
        width:56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
    }
    .nav
    {
        &__list
        {
            display: none;
        }

        &__item
        {
            &_active
            {
                .nav__link
                {
                    
                }
            }
            &_arrow
            {
                &::after
                {
                    content: '';
                    //transition: all $time-transition2 ease-in;

                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xMC42LDBMNiw0LjlMMS40LDBMMCwxLjVMNiw4bDYtNi41TDEwLjYsMHoiLz48L3N2Zz4=');
                }

                &:hover
                {
                    &::after
                    {
                        //transition: all $time-transition2 ease-in;
                        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNEMjExM0E7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTEuNCw4TDYsMy4xTDEwLjYsOEwxMiw2LjVMNiwwTDAsNi41TDEuNCw4eiIvPjwvc3ZnPg==');
                    }
                }

                &_active
                {
                    .nav__link
                    {
                        
                    }
                }

                .nav__link
                {
                    
                }
            }
        }

        &__link
        {
            &:hover
            {
                
            }

            &._no-link
            {
                
            }
        }
    }
}
