<div class="calendar-news-box clearfix">
    <div class="datepicker-news__box">
        <input type="text" class="datepicker-news" value="{{ 'now'|date('d.m.Y') }}">
    </div>
</div>
<!--.calendar-news-box-->
