<div class="social-bottom clearfix">
        {% for socialNetwork in socialNetworks %}
                <a href="http://{{ socialNetwork.link }}" title="{{ socialNetwork.name }}" target="_blank"
                   class="social-bottom__item icons_{{ socialNetwork.prefix }}-bl"></a>
        {% endfor %}
</div>
