<ul class="sidebar-wrap__socials">
    {% for socialNetwork in socialNetworks %}
        <li> 
            <a href="http://{{ socialNetwork.link }}" title="{{ socialNetwork.name }}" target="_blank"> 
                <img src="/themes/public/img/{{ socialNetwork.prefix }}-icon.svg" alt="{{ socialNetwork.name }}">
            </a>
        </li>
    {% endfor %}
</ul>