.logo-wrap {
    margin: 35px auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90%;

    a
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .logo-wrap {
        margin: 65px auto 64px;

        width: 831px;
        height: 124px;
    }
}