{% extends 'PortalContentBundle:InformPage:informPage.html.twig' %}

{% block informPageContent %}
    <div id="ajax-site-map" data-root="{{ template.link }}" style="text-align: left;"></div>
{% endblock %}
