.main-news
{
    position: relative;

    margin-bottom: 50px;

    background: $gray-dark;

    &__info
    {
        position: absolute;
        z-index: 50;
        bottom: 0;

        box-sizing: border-box;
        width: 100%;
        padding: 0 40px 36px;

        @media (max-width: 550px)
        {
            padding: 10px;
        }
    }

    &__topic
    {
        font-size: 100%;

        display: inline-block;

        margin-bottom: 30px;
        padding: 4px 15px 2px;

        text-transform: uppercase;

        color: $white;
        background: $red;

        @media (max-width: 550px)
        {
            margin-bottom: 10px;
        }
    }

    &__title
    {
        font-size: 280%;
        font-weight: bold;
        line-height: 1.2;

        display: block;

        margin-bottom: 30px;

        text-decoration: none;

        color: $white;
        text-shadow: 0 0 8px rgba(0,0,0,0.3);

        @media (max-width: 550px)
        {
            font-size: 160%;

            margin-bottom: 10px;
        }

        &:hover
        {
            text-decoration: underline;

            color: $white;
        }

        &:visited,
        &:focus
        {
            text-decoration: none;

            color: $white;
        }
    }

    &__views
    {
        font-size: 120%;

        float: left;

        margin-right: 40px;
        padding-left: 30px;

        color: $white;
    }

    &__coment
    {
        font-size: 120%;

        float: left;

        padding-left: 25px;

        color: $white;
    }

    &__date
    {
        font-size: 120%;

        float: right;

        padding-left: 28px;

        color: $white;
    }

    &__shadow
    {
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);

        /* w3c */

        &_hover
        {
            background: linear-gradient(180deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%); /* w3c */
        }
    }

    &__img
    {
        position: relative;
        z-index: 20;

        img
        {
            display: block;

            width: 100%;
        }
    }
}
