$font-size: 100%;
$font-size2: 110%;
$font-size3: 130%;
$font-size4: 150%;
$font-color: #b7b7b7;
$font-family: Roboto;
$font-avesome: FontAwesome;
$gray-light: #eef2f4;
$gray-light-medium: #c6cad8;
$gray: #8d96b2;
$gray-medium: #343b4c;
$gray-dark: #262626;
$red: #d2113a;
$white: #fff;
$black: #000;
$time-transition: 0.2s;
$time-transition2: 0.4s;
$dark-blue: #323030;

//* {
//  box-shadow: 0 0 1px #0000cc;
//}
