.up-button
{
    position: fixed;
    right: 60px;
    bottom: 60px;

    width: 60px;
    height: 60px;

    cursor: pointer;

    border-radius: 60px;
    background: $red;

    &_end-page
    {
        bottom: 160px;

        @media (max-width: 1450px)
        {
            bottom: 320px;
        }

        @media (max-width: 1185px)
        {
            bottom: 400px;
        }
    }

    @media (max-width: 660px)
    {
        display: none;
        overflow: hidden;

        width: 0;
        height: 0;

        opacity: 0;
    }
}
