.discussion
{
    display: flex;

    padding: 24px 0;

    border-top: 1px solid $gray-light-medium;

    justify-content: flex-start;

    &__left
    {
        width: 100%;
        min-width: 70px;
        max-width: 100px;
    }

    &__right
    {
        width: 100%;
    }

    &__icon
    {
        overflow: hidden;

        width: 60px;
        height: 60px;
        margin: 6px auto 0;

        border-radius: 60px;
        background: $gray-light;

        img
        {
            width: 100%;
        }
    }

    &__top
    {
        display: flex;

        justify-content: space-between;
    }

    &__title
    {
        font-size: 18px;
        font-weight: bold;

        margin-bottom: 15px;

        color: $gray-dark;
    }

    &__date
    {
        font-size: 14px;

        margin: 3px 18px 0 0 ;

        color: $gray;
    }

    &__text
    {
        font-size: 14px;
        line-height: 1.7;

        color: $gray-dark;
    }
}
