.nav
{
    position: absolute;
    z-index: 100;
    left: 45%;

    margin-left: -75px;

    //right: 307px;

    //@media (max-width: 1820px)
    //{
    //    //right: 365px;
    //    //left: auto;
    //
    //    //margin-left: 0;gulp
    //}

    //@media (max-width: 1160px)
    //{
    //    right: 170px;
    //    //right: 290px;
    //    left: auto;
    //
    //    margin-left: 0;
    //}

    @media (max-width: 1430px)
    {
        right: 200px;

        margin-left: -135px;
    }

    @media (max-width: 1330px)
    {
        right: 170px;
        left: auto;
    }

    @media (max-width: 1730px)
    {
        display: none;
    }

    &__list
    {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__item
    {
        position: relative;

        float: left;

        &_active
        {
            .nav__link
            {
                color: $red;
            }
        }

        &_arrow
        {
            &::after
            {
                position: absolute;
                top: 39px;
                right: 21px;

                display: block;

                width: 12px;
                height: 8px;

                content: '';
                //transition: all $time-transition2 ease-in;

                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xMC42LDBMNiw0LjlMMS40LDBMMCwxLjVMNiw4bDYtNi41TDEwLjYsMHoiLz48L3N2Zz4=');

                @media (max-width: 1365px)
                {
                    right: 10px;
                }
            }

            &:hover
            {
                &::after
                {
                    //transition: all $time-transition2 ease-in;
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNEMjExM0E7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTEuNCw4TDYsMy4xTDEwLjYsOEwxMiw2LjVMNiwwTDAsNi41TDEuNCw4eiIvPjwvc3ZnPg==');
                }
            }

            &_active
            {
                color: $red;

                .nav__link
                {
                    color: $red;
                }
            }

            .nav__link
            {
                padding-right: 39px;

                @media (max-width: 1365px)
                {
                    padding-right: 25px;
                }
            }
        }
    }

    &__link
    {
        font-size: 160%;
        font-weight: 600;

        display: block;

        padding: 29px 19px;
        //transition: color $time-transition2 ease-in;

        text-decoration: none;

        color: $gray-dark;

        @media (max-width: 1600px)
        {
            padding-right: 10px;
            padding-left: 10px;
        }

        @media (max-width: 1160px)
        {
            padding-right: 5px;
            padding-left: 5px;
        }

        &:hover
        {
            //transition: color $time-transition2 ease-in;
            text-decoration: none;

            color: $red;
        }

        &._no-link
        {
            cursor: default;

            color: #d2113a;
        }
    }
}
