$font-size: 100%;
$font-size2: 110%;
$font-size3: 130%;
$font-size4: 150%;

$max-width: 1272px;

$font-family: 'Inter-Regular';
$flt: 'Inter-Light';
$fmd: 'Inter-Medium';
$fsbd: 'Inter-SemiBold';
$fbd: 'Inter-Bold';

$primmary-bg: #1A202C;
$primmary-600: #4A5468;
$primmary-700: #717D96;

$accent: #D2113A;

$base-100: #F7F9FC;
$base-200: #EDF0F7;
$base-600: #717D96;
$base-700: #4A5468;
$base-900: #1A202C;

$brand-primmary: #2B2D33;

$gray-100: #D9D9D9;

$font-color: #b7b7b7;
$gray-light: #eef2f4;
$gray-light-medium: #c6cad8;
$gray: #8d96b2;
$gray-medium: #343b4c;
$gray-dark: #262626;
$red: #d2113a;
$white: #fff;
$black: #000;

$time-transition: 0.2s;
$time-transition2: 0.4s;
$dark-blue: #323030;

//* {
//  box-shadow: 0 0 1px #0000cc;
//}
