.info-page .container{
    padding: 0 15px;
}
.bread-crumbs
{
    margin-bottom: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid $gray;

    ul
    {
        display: inline-block;

        margin: 0;
        padding: 0;

        list-style: none;

        li
        {
            font-size: 14px;

            display: inline-block;

            color: $gray;

            &:last-child
            {
                &:after
                {
                    display: none;
                }
            }

            &::after
            {
                line-height: 7px;

                display: inline-block;

                width: 10px;
                height: 10px;
                margin: 0 5px;

                content: '>';
                text-align: center;
                vertical-align: middle;
            }

            a
            {
                color: $red;
            }
        }
    }
}
