.sidebar {
    position: fixed;

    width: 85%;

    padding: 15px;

    left: 50%;
    bottom: 25px;
    transform: translate(-50%);

    background-color: $primmary-bg;
    box-shadow: 0px 2px 16px 7px rgba(172, 172, 172, 0.329);
    border-radius: 12px;
    z-index: 10;

    &-wrap,
    &-wrap__functions,
    &-wrap__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 5px;
    }

    &-wrap__functions {
        position: relative;
    }

    &-wrap__menu {
        position: relative;

        width: 31px;
        height: 24px;

        cursor: pointer;

        &::after,
        &::before,
        span {
            position: absolute;
            
            left: 0;
            
            width: 100%;
            height: 3px;
            
            background-color: $base-100;
            border-radius: 5px;
            transition: .3s;
        }

        span {
            top: 40%;
        }

        &::after {
            content: '';

            top: 0;
        }

        &::before {
            content: '';

            bottom: 0;
        }

        &.active {
            span {
                scale: 0;
            }

            &::after {
                transform: rotate(-135deg);
                top: 40%;
            }

            &::before {
                transform: rotate(135deg);
                top: 40%;
                bottom: unset;
            }
        }
    }

    &-wrap__search-btn {
        cursor: pointer;

        transition: .3s;

        &.active {
            transform: rotate(40deg);
        }
    }

    &-wrap__lang {
        cursor: pointer;

        span {
            display: none;
        }
    }

    &-wrap__lang-switch {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8px 12px;

        scale: 0;

        gap: 16px;

        left: 29px;
        bottom: 46px;
        
        width: 23px;

        background-color: $white;
        border-radius: 8px;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.08));
        z-index: 1;
        transition: .3s;

        &__point {
            position: absolute;

            bottom: -15px;
            transform: rotate(180deg);
        }

        li a span {
            font-size: 16px;
            line-height: 26px;

            color: $brand-primmary;

            &:hover {
                color: $accent;
            }
        }

        &.active {
            scale: 1;
        }
    }
}

@media (min-width: 994px) {
    .sidebar {
        width: 56px;
        height: 100vh;

        top: 0;
        left: 28px;

        padding: 80px 0;

        border-radius: unset;
        box-shadow: unset;

        &-wrap__functions,
        &-wrap__socials {
            flex-direction: column;

            gap: 16px;
        }

        &-wrap {
            flex-direction: column;

            gap: 208px;
        }

        &-wrap__lang {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-transform: uppercase;

            span {
                display: flex;

                font-size: 16px;
                line-height: 26px;

                color: $white;
            }
        }

        &-wrap__lang-switch {
            left: -7px;
            top: 144px;
            bottom: unset;

            &__point {
                top: -15px;

                bottom: unset;
                transform: rotate(0deg);
            }
        }
    }
}