.footer {
    margin-top: 50px;

    padding: 48px 0 110px;

    &-head {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        gap: 20px;
    }

    &-head__logo {
        img {
            width: 250px;
        }
    }
    &-head__age {
        color: $accent;
        font-size: 40px;
        font-weight: 700;
    }
    &-menu {
        margin-top: 38px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 40px;
    }

    &-menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 8xp;

        
        li a,
        li p {
            font-size: 16px;
            line-height: 26px;
            
            color: $base-100;
            
            transition: .4s;
            
            &:hover {
                color: $gray-100;
            }
        }
    }

    &-menu__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .footer-menu__list {
            gap: 4px;
        }
    }

    &-menu__contacts-title h2 {
        margin-bottom: 8px;

        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $base-100;
    }

    &-license {
        margin-top: 38px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 8px;

        p {
            font-size: 14px;
            line-height: 21px;

            letter-spacing: -0.01em;
            font-feature-settings: 'calt' off;

            color: $base-100;
        }
    }
}

@media (min-width: 1024px) {
    .footer {
        margin-top: 124px;

        padding: 48px 0 16px;

        &-head {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &-menu {
            margin-top: 48px;

            flex-direction: row;

            gap: 70px;

            @media (min-width: 1440px) {
                gap: 160px;
            }
        }

        &-license {
            margin-top: 48px;
        }
    }
}