.mobile-submenu
{
    overflow: hidden;

    height: 0;
    //transition: all $time-transition2 ease-in;

    opacity: 0;

    &_open
    {
        overflow: visible;

        height: auto;
        //transition: all $time-transition2 ease-in;

        opacity: 1;
    }

    &__list
    {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__item
    {
        position: relative;
    }

    &__button
    {
        position: absolute;
        right: 0;

        display: block;

        width: 45px;
        height: 40px;

        cursor: pointer;

        &:before
        {
            position: absolute;
            top: 17px;
            left: 10px;

            display: block;

            width: 12px;
            height: 8px;

            content: '';
            cursor: pointer;
            //transition: all $time-transition2 ease-in;

            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xMC42LDBMNiw0LjlMMS40LDBMMCwxLjVMNiw4bDYtNi41TDEwLjYsMHoiLz48L3N2Zz4=);
        }

        &_open
        {
            &:before
            {
                //transition: all $time-transition2 ease-in;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNEMjExM0E7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTEuNCw4TDYsMy4xTDEwLjYsOEwxMiw2LjVMNiwwTDAsNi41TDEuNCw4eiIvPjwvc3ZnPg==);
            }
        }
    }

    &__link
    {
        font-size: 140%;
        font-weight: 600;

        display: block;

        padding: 5px 19px 5px 40px;
        //transition: color $time-transition2 ease-in;

        color: $gray-dark;

        &:hover
        {
            //transition: color $time-transition2 ease-in;
            text-decoration: none;

            color: $red;
        }

        &._no-link
        {
            cursor: default;

            color: #d2113a;
        }
    }
}
