include ../blocks/head/head


doctype html
html
    +head
    body
        .sidebar
            .sidebar-wrap 
                .sidebar-wrap__functions
                    .sidebar-wrap__search-btn
                        img(src="./public/img/search.svg", alt="")
                    .sidebar-wrap__lang
                        img(src="./public/img/GlobeSimple.svg", alt="")
                        span.selected RU
                    ul.sidebar-wrap__lang-switch
                        li.sidebar-wrap__lang-switch__point
                            img(src="./public/img/pointer.svg", alt="")
                        li.sidebar-wrap__lang-switch__item
                            a(href="#")
                                span.option RU
                        li.sidebar-wrap__lang-switch__item
                            a(href="#")
                                span.option UA
                .sidebar-wrap__menu
                    span
                ul.sidebar-wrap__socials
                    li 
                        a(href="/") 
                            img(src="./public/img/vk-icon.svg", alt="")
                    li 
                        a(href="/") 
                            img(src="./public/img/tg-icon.svg", alt="")
        //.header
        // nav
        nav.menu 
            .menu-wrap 
                .menu-wrap-logo
                    a(href="/")
                        img(src="./public/img/menu-logo.svg", alt="")
                ul.menu-nav__list
                    li.menu-nav__item  
                        a(href="/") Объективный взгляд
                    li.menu-nav__item  
                        a(href="/") Страницы истории
                    li.menu-nav__item  
                        a(href="/") Не политика
                    li.menu-nav__item  
                        a(href="/") #СловоДня
                    li.menu-nav__item  
                        a(href="/") Новости
                    li.menu-nav__item  
                        a(href="/") Известная фигура
                    li.menu-nav__item  
                        a(href="/") Наш эксклюзив
                    li.menu-nav__item  
                        a(href="/") Наша общая победа
                    li.menu-nav__item  
                        a(href="/") Фотогалерея
                    li.menu-nav__item  
                        a(href="/") Обратная связь
        .search
            .search-wrap 
                .search-wrap-logo
                    a(href="/")
                        img(src="./public/img/menu-logo.svg", alt="")
                form.search-wrap__container 
                    .search-wrap__container-field
                        a(href="/") 
                            img(src="./public/img/search-input.svg", alt="")
                        input(type="text", placeholder="Поиск", id="myInput")
                    button.search-wrap__container-btn Найти

        main
            section.section
                .container
                    .logo-wrap 
                        a(href="/") 
                            img(src="./public/img/logo.svg", alt="")
            section.info-page
                .container
                    div.bread-crumbs
                        ul
                            li
                                a(href="/") Главная
                            li Обратная связь
            section.section
                .container 
                    .title-page 
                            h1 Обратная связь  
            section.section 
                .container
                    .content

                        .content__contact-info

                            .content__title Контакти

                            | Текстова інформація

                            .content__title Адреса

                            | Текстова інформація


                        form.comments__form.comments__form_open
                            .content__title Форма зворотного зв'язку
                            .comments__form-row
                                .comments__form-lable Iм'я
                                .comments__form-error
                                    | Поле не заполнено
                                input(type='text').comments__form__pole
                            .comments__form-row
                                .comments__form-lable E-mail
                                input(type='text').comments__form__pole
                            .comments__form-row
                                .comments__form-lable Коментар
                                textarea.comments__form__pole.comments__form__pole_textarea
                            .comments__form-row
                                | CAPCHA
                            .comments__form-row
                                a(href='#modal1').open_modal.button Надіслати
                    


            footer.section--filled 
                .container 
                    .footer 
                        .footer-head 
                            .footer-head__logo
                               // img(src="./public/img/footer-logo.svg", alt="")
                            .footer-head__age
                                p 16+
                        .footer-menu
                            .footer-menu__item-logo1
                                a(href="/") 
                                    img(src="./public/img/logo1.svg", alt="")
                            .footer-menu__item-logo2
                                a(href="/") 
                                    img(src="./public/img/logo2.svg", alt="")
                            .footer-menu__item-logo3
                                a(href="/") 
                                    img(src="./public/img/logo3.svg", alt="")
                        .footer-license
                            p Информационное агентство "Крым сегодня", регистрация Роскомнадзора - ИА №ФС 77-78535 от 29 июня 2020 года. Главный редактор - Анастасия Сергеевна Гридчина
                            p 2022 © Переяславська рада 2.0. Все права защищены

        #modal1.modal_div.clearfix
            span.modal_close
            .modal_div__content
                | Форма отправнена

        #overlay

        .up-button.icons_arrow-up-white
