include ../blocks/head/head


doctype html
html
    +head
    body.page





        .header.clearfix
            a(href="/").logo

            .mobile-nav
                .mobile-nav__button
                .mobile-nav__menu
                    ul.mobile-nav__list
                        li.mobile-nav__item
                        li.mobile-nav__item
                            b.mobile-submenu__button
                            a(href="#").mobile-nav__link Розділи
                            .mobile-submenu.mobile-submenu-category
                                ul.mobile-submenu__list
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Політика
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Новини
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Суспільство
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Культура і традиції
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Літературна сторінка
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Відома постать
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link їжа

                            a(href="#").mobile-nav__link Головна
                        li.mobile-nav__item
                            a(href="#").mobile-nav__link Особиста думка
                        li.mobile-nav__item
                            b.mobile-submenu__button
                            a(href="#").mobile-nav__link Журнали та газети
                            .mobile-submenu.mobile-submenu-magazine-article
                                ul.mobile-submenu__list
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Журнали
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Газети
                        li.mobile-nav__item
                            a(href="#").mobile-nav__link Зворотний зв'язок






            .nav.clearfix
                ul.nav__list
                    li.nav__item
                        a(href="#").nav__link Головна
                    li.nav__item
                        a(href="#").nav__link Розділи
                        .submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href="#").submenu__link Політика
                                li.submenu__item
                                    a(href="#").submenu__link Новини
                                li.submenu__item
                                    a(href="#").submenu__link Суспільство
                                li.submenu__item
                                    a(href="#").submenu__link Культура і традиції
                                li.submenu__item
                                    a(href="#").submenu__link Літературна сторінка
                                li.submenu__item
                                    a(href="#").submenu__link Відома постать
                                li.submenu__item
                                    a(href="#").submenu__link їжа
                    li.nav__item
                        a(href="#").nav__link Особиста думка
                    li.nav__item
                        a(href="#").nav__link Журнали та газети
                        .submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href="#").submenu__link Журнали
                                li.submenu__item
                                    a(href="#").submenu__link Газети
                    li.nav__item
                        a(href="#").nav__link Зворотний зв'язок

            .social-networks.clearfix
                a(href="#").social-networks__item.social-networks__item_tg.icons_tg
                a(href="#").social-networks__item.social-networks__item_vk.icons_vk
                .search__icon.search__icon_open

            .search.search_header
                .search__box
                    input(type="text" placeholder='Search').search__pole
                    input(type="button").search__button.search__icon.search__icon_search

            .languages
                .languages__selected.icons_lang-black ua
                .languages__nav
                    a(href="#").languages__item ua
                    a(href="#").languages__item rus
                    a(href="#").languages__item eng


        //.header

        .info-page
            .info-page__posit
                .bread-crumbs
                    ul
                        li
                            a(href='#') Главная

                        li Зворотній зв'язок



                    .info-page__right
                        .title-page Зворотній зв'язок



        .wrapper
            .wrapper__left

                .content

                    .content__contact-info

                        .content__title Контакти

                        | Текстова інформація

                        .content__title Адреса

                        | Текстова інформація






                    form.comments__form.comments__form_open
                        .content__title Форма зворотного зв'язку
                        .comments__form-row
                            .comments__form-lable Iм'я
                            .comments__form-error
                                | Поле не заполнено
                            input(type='text').comments__form__pole
                        .comments__form-row
                            .comments__form-lable E-mail
                            input(type='text').comments__form__pole
                        .comments__form-row
                            .comments__form-lable Коментар
                            textarea.comments__form__pole.comments__form__pole_textarea
                        .comments__form-row
                            | CAPCHA
                        .comments__form-row
                            a(href='#modal1').open_modal.button Надіслати




            //.wrapper__left



            .wrapper__right
                .last-news
                    .last-news__title.icons_clock Останні новини

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою


                //.last-news

                .inform-block
                    .inform-block__pic Image
                    .inform-block__pic Image
                    .inform-block__pic Image


            //.wrapper__right

        //.wrapper

        .contacts-below.clearfix
            a(href="#").logo-small
            a(href="#").logo-second
            .button.button_text_red.button_left зВОРОТНIЙ зв'язок
            .social-bottom.clearfix
                a(href="#").social-bottom__item.icons_tg-bl
                a(href="#").social-bottom__item.icons_vk-bl
            .contacts-below__inform
                .contacts-below__phone Опиисание
                .contacts-below__phone Главный редактор
                .contacts-below__addres г. Симферополь, ул. Название 00
                .contacts-below__addres +79780000000
                    a(href="#") info@mail.ru
                .age-limit
                    span 16+

        //.contacts-below



        .footer

            .footer__nav-posit
                .footer__nav-bg
                    .footer__nav
                        ul
                            li
                                a(href="#") Новини
                            li
                                a(href="#") Політика
                            li
                                a(href="#") Суспільство
                            li
                                a(href="#") Культура i традицiї
                            li
                                a(href="#") Літературна сторінка
                            li
                                a(href="#") Відома постать
                            li
                                a(href="#") Їжа

            .footer__info.clearfix
                .footer__copright 2018 © Украинская община Крыма. Все права защищены.
                .footer__link Разработка -
                    a(href="#") ГУП РК «Крымтехнологии»

        //.footer

        #modal1.modal_div.clearfix
            span.modal_close
            .modal_div__content
                | Форма отправнена

        #overlay

        .up-button.icons_arrow-up-white
