include ../blocks/head/head


doctype html
html
    +head
    body
        .sidebar
            .sidebar-wrap 
                .sidebar-wrap__functions
                    .sidebar-wrap__search-btn
                        img(src="./public/img/search.svg", alt="")
                    .sidebar-wrap__lang
                        img(src="./public/img/GlobeSimple.svg", alt="")
                        span.selected RU
                    ul.sidebar-wrap__lang-switch
                        li.sidebar-wrap__lang-switch__point
                            img(src="./public/img/pointer.svg", alt="")
                        li.sidebar-wrap__lang-switch__item
                            a(href="#")
                                span.option RU
                        li.sidebar-wrap__lang-switch__item
                            a(href="#")
                                span.option UA
                .sidebar-wrap__menu
                    span
                ul.sidebar-wrap__socials
                    li 
                        a(href="/") 
                            img(src="./public/img/vk-icon.svg", alt="")
                    li 
                        a(href="/") 
                            img(src="./public/img/tg-icon.svg", alt="")
        //.header
        // nav
        nav.menu 
            .menu-wrap 
                .menu-wrap-logo
                    a(href="/")
                        img(src="./public/img/menu-logo.svg", alt="")
                ul.menu-nav__list
                    li.menu-nav__item  
                        a(href="/article-category.html") Объективный взгляд
                    li.menu-nav__item  
                        a(href="/article-category.html") Страницы истории
                    li.menu-nav__item  
                        a(href="/article-category.html") Не политика
                    li.menu-nav__item  
                        a(href="/article-category.html") #СловоДня
                    li.menu-nav__item  
                        a(href="/article-category.html") Новости
                    li.menu-nav__item  
                        a(href="/article-category.html") Известная фигура
                    li.menu-nav__item  
                        a(href="/article-category.html") Наш эксклюзив
                    li.menu-nav__item  
                        a(href="/article-category.html") Наша общая победа
                    li.menu-nav__item  
                        a(href="/photo-report.html") Фотогалерея
                    li.menu-nav__item  
                        a(href="/") Обратная связь
        .search
            .search-wrap 
                .search-wrap-logo
                    a(href="/")
                        img(src="./public/img/menu-logo.svg", alt="")
                .search-wrap__container
                    .search-wrap__container-field
                        a(href="/") 
                            img(src="./public/img/search-input.svg", alt="")
                        input(type="text", placeholder="Поиск", id="myInput")
                    button(class="search-wrap__container-btn", onclick="document.getElementById('myInput').value = '' ") Отменить


        main
            section.section
                .container
                    .logo-wrap 
                        a(href="/") 
                            img(src="./public/img/logo.svg", alt="")
            section.section
                .container 
                    .category-wrap 
                        ul.category-wrap__carousel 
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_News.svg", alt="")
                                    span Новости
                                    img(src="./public/img/slide1.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_Persona.svg", alt="")
                                    span Новости2
                                    img(src="./public/img/slide2.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_shooting-stars.svg", alt="")
                                    span Новост3
                                    img(src="./public/img/slide3.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_star.svg", alt="")
                                    span Новости4
                                    img(src="./public/img/slide4.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_eye.svg", alt="")
                                    span Новости5
                                    img(src="./public/img/slide5.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_ruin.svg", alt="")
                                    span Новости6
                                    img(src="./public/img/slide6.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_wheel.svg", alt="")
                                    span Новости7
                                    img(src="./public/img/slide7.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_church.svg", alt="")
                                    span Новости8
                                    img(src="./public/img/slide8.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_quotation.svg", alt="")
                                    span Новости9
                                    img(src="./public/img/slide9.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_camera.svg", alt="")
                                    span Новости10
                                    img(src="./public/img/slide10.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_mail.svg", alt="")
                                    span Новости11
                                    img(src="./public/img/slide11.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_newspaper.svg", alt="")
                                    span Новости12
                                    img(src="./public/img/slide12.png", alt="", class="category-wrap__item-bg")
                            li.category-wrap__item 
                                a(href="/article-category.html")
                                    img(src="./public/img/Icon_Opinion.svg", alt="")
                                    span Новости13
                                    img(src="./public/img/slide13.png", alt="", class="category-wrap__item-bg")
            section.section
                .container
                    .actual 
                        .actual-info 
                            h2 Актуальные публикации
                            span 26 декабря 2022, Пн
                        ul.actual-wrap 
                            li.actual-wrap__item.actual-wrap__item1
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Новости
                                    p Подвижной состав автобусов в Крыму к 2023 году обновится не менее чем на 75%
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid1.png", alt="")
                            li.actual-wrap__item.actual-wrap__item2
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Объективный взгляд
                                    p Война с памятниками: очередной жертвой Киева стал памятник Пушкина в Днепропетровске
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid2.png", alt="")
                            li.actual-wrap__item.actual-wrap__item3
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Страницы истории
                                    p Как Петр I научил Россию праздновать Новый год по-другому
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid3.png", alt="")
                            li.actual-wrap__item.actual-wrap__item4
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Известная фигура
                                    p Как Украина борется с генералом Ватутиным
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid4.png", alt="")
                            li.actual-wrap__item.actual-wrap__item5
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Наш эксклюзив
                                    p Вадим Волченко: «Любой отдых в Крыму оставляет незабываемые впечатления»
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid5.png", alt="")
                            li.actual-wrap__item.actual-wrap__item6
                                a(href="/article-single.html" class="actual-wrap__item-info") 
                                    span Наша общая Победа
                                    p Подвиг советских десантников под Керчью
                                a(href="/article-single.html" class="actual-wrap__item-img")
                                    img(src="./public/img/grid6.png", alt="")
            section.section
                .container
                    .journal 
                        .journal-info 
                            h2 Журнал «Крым Сегодня»
                            span Читайте в номере
                        .journal-wrap  
                            .journal-wrap__archive
                                .journal-wrap__archive-img
                                    img(src="./public/img/base.png", alt="")
                                    img(src="./public/img/book.png", alt="")
                                    img(src="./public/img/base.png", alt="")
                                    img(src="./public/img/book.png", alt="")
                                    img(src="./public/img/shadows.png", alt="")
                                .journal-wrap__archive-action 
                                    a(href="/") Смотреть
                                    a(href="/magazine-list.html") Архив журналов
                            ul.journal-wrap__news 
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid7.png", alt="")
                                    .journal-wrap__news-info 
                                        span 01 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Путешествие по страницам истории Евпатории 
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid8.png", alt="")
                                    .journal-wrap__news-info 
                                        span 08 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Семен Дуван. Человек, который превратил Евпаторию в «Русскую Ниццу»
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid9.png", alt="")
                                    .journal-wrap__news-info 
                                        span 04 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Амбициозные инвестпроекты, которые реализуются в Крыму
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid10.png", alt="")
                                    .journal-wrap__news-info 
                                        span 05 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Юрий Гоцанюк: «Крым открыт и готов к приему гостей»
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid8.png", alt="")
                                    .journal-wrap__news-info 
                                        span 08 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Семен Дуван. Человек, который превратил Евпаторию в «Русскую Ниццу»
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid9.png", alt="")
                                    .journal-wrap__news-info 
                                        span 04 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Амбициозные инвестпроекты, которые реализуются в Крыму текст текст текст текст текст 
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
                                li.journal-wrap__news-item 
                                    .journal-wrap__news-img
                                        img(src="./public/img/grid10.png", alt="")
                                    .journal-wrap__news-info 
                                        span 05 августа 2022
                                        a(href="/article-single.html", class="t-crop t-crop--four-l") Юрий Гоцанюк: «Крым открыт и готов к приему гостей»
                                        .component-read-more-wrap
                                            a(href="/article-single.html" class="component-read-more") Подробнее
                                                img(src="./public/img/arrow-red.svg", alt="")
            section  
                .gallery   
                    .gallery-title
                        h2 Фотогалерея
                    ul.gallery-wrap
                        li.gallery-wrap__item 
                            span Крымская Каппадокия
                            img(src="./public/img/gallery1.png", alt="")
                        li.gallery-wrap__item 
                            span В гостях у тишины
                            img(src="./public/img/gallery2.png", alt="")
                        li.gallery-wrap__item 
                            span Балаклава
                            img(src="./public/img/gallery3.png", alt="")
            footer.section--filled 
                .container 
                    .footer 
                        .footer-head 
                            .footer-head__logo
                                img(src="./public/img/footer-logo.svg", alt="")
                            .footer-head__age
                                p 16+
                        .footer-menu
                            .footer-menu__item-logo
                                a(href="/") 
                                    img(src="./public/img/logo-gromada.svg", alt="")
                            ul.footer-menu__list 
                                li.footer-menu__list-item 
                                    a(href="/") Новости
                                li.footer-menu__list-item 
                                    a(href="/") Известная фигура
                                li.footer-menu__list-item 
                                    a(href="/") Наш эксклюзив
                                li.footer-menu__list-item 
                                    a(href="/") Наша общая победа
                            ul.footer-menu__list 
                                li.footer-menu__list-item 
                                    a(href="/") Объективный взгляд
                                li.footer-menu__list-item 
                                    a(href="/") Страницы истории
                                li.footer-menu__list-item 
                                    a(href="/") Не политика
                                li.footer-menu__list-item 
                                    a(href="/") #СловоДня
                                li.footer-menu__list-item 
                                    a(href="/photo-report.html") Галерея
                            .footer-menu__contacts 
                                .footer-menu__contacts-title 
                                    h2 Контакты
                                ul.footer-menu__list 
                                    li.footer-menu__list-item
                                        p г. Симферополь, ул. Самокиша, 30
                                    li.footer-menu__list-item 
                                        a(href="tel:+79789247717") +7 (978) 924-77-17
                                    li.footer-menu__list-item 
                                        a(href="mail:ukrcrimea@mail.ru") ukrcrimea@mail.ru
                        .footer-license
                            p Информационное агентство "Крым сегодня", регистрация Роскомнадзора - ИА №ФС 77-78535 от 29 июня 2020 года. Главный редактор - Анастасия Сергеевна Гридчина
                            p 2022 © Переяславська рада 2.0. Все права защищены
