include ../blocks/head/head


doctype html
html
    +head
    body.page



        .header.clearfix
            a(href="/").logo

            .mobile-nav
                .mobile-nav__button
                .mobile-nav__menu
                    ul.mobile-nav__list
                        li.mobile-nav__item
                        li.mobile-nav__item
                            b.mobile-submenu__button
                            a(href="#").mobile-nav__link Розділи
                            .mobile-submenu.mobile-submenu-category
                                ul.mobile-submenu__list
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Політика
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Новини
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Суспільство
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Культура і традиції
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Літературна сторінка
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Відома постать
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link їжа

                            a(href="#").mobile-nav__link Головна
                        li.mobile-nav__item
                            a(href="#").mobile-nav__link Особиста думка
                        li.mobile-nav__item
                            b.mobile-submenu__button
                            a(href="#").mobile-nav__link Журнали та газети
                            .mobile-submenu.mobile-submenu-magazine-article
                                ul.mobile-submenu__list
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Журнали
                                    li.mobile-submenu__item
                                        a(href="#").mobile-submenu__link Газети
                        li.mobile-nav__item
                            a(href="#").mobile-nav__link Зворотний зв'язок






            .nav.clearfix
                ul.nav__list
                    li.nav__item
                        a(href="#").nav__link Головна
                    li.nav__item
                        a(href="#").nav__link Розділи
                        .submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href="#").submenu__link Політика
                                li.submenu__item
                                    a(href="#").submenu__link Новини
                                li.submenu__item
                                    a(href="#").submenu__link Суспільство
                                li.submenu__item
                                    a(href="#").submenu__link Культура і традиції
                                li.submenu__item
                                    a(href="#").submenu__link Літературна сторінка
                                li.submenu__item
                                    a(href="#").submenu__link Відома постать
                                li.submenu__item
                                    a(href="#").submenu__link їжа
                    li.nav__item
                        a(href="#").nav__link Особиста думка
                    li.nav__item
                        a(href="#").nav__link Журнали та газети
                        .submenu
                            ul.submenu__list
                                li.submenu__item
                                    a(href="#").submenu__link Журнали
                                li.submenu__item
                                    a(href="#").submenu__link Газети
                    li.nav__item
                        a(href="#").nav__link Зворотний зв'язок

            .social-networks.clearfix
                a(href="#").social-networks__item.social-networks__item_tg.icons_tg
                a(href="#").social-networks__item.social-networks__item_vk.icons_vk
                .search__icon.search__icon_open

            .search.search_header
                .search__box
                    input(type="text" placeholder='Search').search__pole
                    input(type="button").search__button.search__icon.search__icon_search

            .languages
                .languages__selected.icons_lang-black ua
                .languages__nav
                    a(href="#").languages__item ua
                    a(href="#").languages__item rus
                    a(href="#").languages__item eng



        //.header

        .info-page
            .info-page__posit
                .bread-crumbs
                    ul
                        li
                            a(href='#') Главная
                        li
                            a(href='#') Особиста думка

                        li Славутський вертеп свідчить про зародження театрального мистецтва України


                .info-page__posit-box.clearfix
                    .info-page__left
                        .info-page__quotes
                            .info-page__img
                                img(src='/public/img/pic.jpg')

                    .info-page__right
                        .title-page Славутський вертеп свідчить про зародження театрального мистецтва України
                        .info-page__name Иван Иванов
                        .info-page__position Редактор этого сайта
                        .info-page__sub-info.clearfix
                            .info-page__date.icons_calendar-blue 9 Січня 2019
                            .info-page__coment.icons_message-blue 20 Коментарів
                            .info-page__views.icons_eye-blue 483 Переглядів



        .wrapper
            .wrapper__left

                .content.content_catalog

                    .content__text

                        p Отметим, что согласно письму Минтруда России от 4 апреля 2016 г. N 14-0/10/В-2253 «По вопросам
                            | применения профессиональных стандартов» профессиональные стандарты носят комплексный характер и
                            | раскрывают необходимые для выполнения работником трудовые функции, знания и умения. Требования к
                            | квалификации сотрудников, которые содержатся в профстандартах, обязательны для работодателя в
                            | случаях, установленных Трудовым Кодексом России или иными нормативными правовыми актами.
                            | Наименование должностей, профессий, специальностей и квалификационные требования к ним должны
                            | соответствовать аналогичной информации, указанной в квалификационных справочниках или
                            | профессиональных стандартах, если, в соответствии с ТК РФ или иными федеральными законами, с
                            | выполнением работ по этим должностям, профессиям, специальностям связано предоставление
                            | компенсаций и льгот, либо наличие ограничений. В других случаях эти требования являются
                            | рекомендательными.

                        p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                            | никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                            | интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
                            | Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему
                            | нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества
                            | восприятия макета.

                        ul
                            li Каждый веб-разработчик знает, что такое текст-«рыба».
                            li Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.
                            li Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента
                            li Самым известным «рыбным» текстом является знаменитый Lorem ipsum.
                            li Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент

                        p Трудовым Кодексом России или иными нормативными правовыми актами. Наименование должностей,
                            | профессий, специальностей и квалификационные требования к ним должны соответствовать аналогичной
                            | информации, указанной в квалификационных справочниках или профессиональных стандартах, если, в
                            | соответствии с ТК РФ или иными федеральными законами, с выполнением работ по этим должностям,
                            | профессиям, специальностям связано предоставление компенсаций и льгот, либо наличие ограничений.
                            | В других случаях эти требования являются рекомендательными.

                            img(src='/public/img/cont-img.jpg')
                            .content__img-text Описание фотографи

                            p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                            | никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                            | интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
                            | Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему
                            | нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества
                            | восприятия макета.

                        p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его
                            | применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому
                            | философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник
                            | вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно,
                            | возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах,
                            | ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно
                            | различается.


                        .content__small-text Позиция редакции может быть озвучена только главным редактором. Мнение авторов и приглашенных гостей может не совпадать с позицией нашей редакции.


                //.content


                .comments
                    .comments__top
                        .comments__social
                            img(src='/public/img/soc.png')
                        .comments__info
                            .comments__view.icons_eye-blue 483 Переглядів
                            .comments__coment.icons_message-blue 20 Коментарів

                    .comments__form-top
                        .comments__title Коментарі (20)
                        .comments__add-coment.icons_message-black Залишити коментар

                    form.comments__form
                        .comments__form-row
                            .comments__form-lable Iм'я
                            input(type='text').comments__form__pole
                        .comments__form-row
                            .comments__form-lable Коментар
                            .comments__form-error
                                | Поле не заполнено
                            textarea.comments__form__pole.comments__form__pole_textarea
                        .comments__form-row
                            | CAPCHA
                        .comments__form-row
                            .button Надіслати

                .discussion
                    .discussion__left
                        .discussion__icon.icons_user

                    .discussion__right
                        .discussion__top
                            .discussion__title Иван Иванов
                            .discussion__date 12.01.2019
                        .discussion__text Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые
                            | его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан
                            | древнеримскому философу Цицерону..

                .discussion
                    .discussion__left
                        .discussion__icon.icons_user

                    .discussion__right
                        .discussion__top
                            .discussion__title Иван Иванов
                            .discussion__date 12.01.2019
                        .discussion__text Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые
                            | его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан
                            | древнеримскому философу Цицерону..

                .discussion
                    .discussion__left
                        .discussion__icon.icons_user

                    .discussion__right
                        .discussion__top
                            .discussion__title Иван Иванов
                            .discussion__date 12.01.2019
                        .discussion__text Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые
                            | его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан
                            | древнеримскому философу Цицерону..

                .discussion
                    .discussion__left
                        .discussion__icon.icons_user

                    .discussion__right
                        .discussion__top
                            .discussion__title Иван Иванов
                            .discussion__date 12.01.2019
                        .discussion__text Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые
                            | его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан
                            | древнеримскому философу Цицерону..




            //.wrapper__left



            .wrapper__right
                .last-news
                    .last-news__title.icons_clock Останні новини

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                    .last-news__block
                        .last-news__date 16 Cічня 2019
                        a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою


                //.last-news

                .inform-block
                    .inform-block__pic Image
                    .inform-block__pic Image
                    .inform-block__pic Image


            //.wrapper__right

        //.wrapper

        .contacts-below.clearfix
            a(href="#").logo-small
            a(href="#").logo-second
            .button.button_text_red.button_left зВОРОТНIЙ зв'язок
            .social-bottom.clearfix
                a(href="#").social-bottom__item.icons_tg-bl
                a(href="#").social-bottom__item.icons_vk-bl
            .contacts-below__inform
                .contacts-below__phone Опиисание
                .contacts-below__phone Главный редактор
                .contacts-below__addres г. Симферополь, ул. Название 00
                .contacts-below__addres +79780000000
                .contacts-below__email
                    a(href="#") info@mail.ru
                .age-limit
                    span 16+

        //.contacts-below



        .footer

            .footer__nav-posit
                .footer__nav-bg
                    .footer__nav
                        ul
                            li
                                a(href="#") Новини
                            li
                                a(href="#") Політика
                            li
                                a(href="#") Суспільство
                            li
                                a(href="#") Культура i традицiї
                            li
                                a(href="#") Літературна сторінка
                            li
                                a(href="#") Відома постать
                            li
                                a(href="#") Їжа

            .footer__info.clearfix
                .footer__copright 2018 © Украинская община Крыма. Все права защищены.
                .footer__link Разработка -
                    a(href="#") ГУП РК «Крымтехнологии»

        //.footer

        .up-button.icons_arrow-up-white
