include ../blocks/head/head


doctype html
html
    +head
    body
        .side-menu
            .menu
                .search.search_header
                        .search__icon.search__icon_open
                        .search__box
                            input(type="text" placeholder='Search').search__pole
                            input(type="button").search__button.search__icon.search__icon_search
                .languages
                        .languages__selected.icons_lang-black ua
                        .languages__nav
                            a(href="#").languages__item ua
                            a(href="#").languages__item rus
                            a(href="#").languages__item eng
                .nav
                    .nav__wrap
                        ul.nav__list
                            li.nav__item
                                a(href="#").nav__link Головна
                            li.nav__item
                                a(href="#").nav__link Розділи
                            li.nav__item
                                a(href="#").nav__link Політика
                            li.nav__item
                                a(href="#").nav__link Новини
                            li.nav__item
                                a(href="#").nav__link Суспільство
                            li.nav__item
                                a(href="#").nav__link Культура і традиції
                            li.nav__item
                                a(href="#").nav__link Літературна сторінка
                            li.nav__item
                                a(href="#").nav__link Відома постать
                            li.nav__item
                                a(href="#").nav__link їжа
                            li.nav__item
                                a(href="#").nav__link Особиста думка
                            li.nav__item
                                a(href="#").nav__link Журнали та газети
                            li.nav__item
                                a(href="#").nav__link Зворотний зв'язок
                .social-networks.clearfix
                    a(href="#").social-networks__item.social-networks__item_tg.icons_tg
                    a(href="#").social-networks__item.social-networks__item_vk.icons_vk
        //.header
        .page
            .wrapper
                .wrapper__left
                    .main-news
                        .main-news__img
                            .main-news__shadow
                            img(src='/public/img/big-image.jpg')
                        .main-news__info
                            .main-news__topic Культура і традиції
                            a(href="#").main-news__title Славутський вертеп свідчить про зародження театрального мистецтва України
                            .main-news__bottom.clearfix
                            .main-news__views.icons_eye-white 483 Переглядів
                            .main-news__coment.icons_message-white 20 Коментарів
                            .main-news__date.icons_calendar-white 9 Січня 2019

                    //.main-news

                    .tabs
                        ul.tabs__caption
                            li.active Новини
                            li Політика
                            li Суспільство
                            li Культура i традицiї
                            li Літературна сторінка
                            li Відома постать
                            li Їжа

                        .tabs__content.active

                            .news
                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item

                                .news__item
                                    .news__img
                                        img(src='/public/img/001.jpg')
                                    .news__topic Новини
                                    a(href="#").news__title Славутський вертеп свідчитьпро зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України про зародження театрального мистецтва України
                                    .news__info.clearfix
                                        .news__views.icons_eye-blue 290
                                        .news__coment.icons_message-blue 20
                                        .news__date 16 Cічня 2019
                                //.news__item


                            //.news

                            .news-nav
                                .button Показати бIльше
                                a(href="#").go-section.icons_arrow-go-section Перейти до роздiлу




                        .tabs__content 2
                        .tabs__content 3
                        .tabs__content 4
                        .tabs__content 5




                    .personal-opinion
                        .personal-opinion__title
                            .personal-opinion__text-title
                                span.personal-opinion__text Особиста думка
                            .personal-opinion__bg-title

                    .owl-my-style
                        .owl-carousel.owl-theme
                            .item
                                .quote
                                    .quote__img
                                        img(src='/public/img/pic.jpg')
                                    a(href="#").quote__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .quote__name Иван Иванов
                                    .quote__position Редактор этого сайта
                            .item
                                .quote
                                    .quote__img
                                        img(src='/public/img/pic.jpg')
                                    a(href="#").quote__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .quote__name Иван Иванов
                                    .quote__position Редактор этого сайта

                            .item
                                .quote
                                    .quote__img
                                        img(src='/public/img/pic.jpg')
                                    a(href="#").quote__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .quote__name Иван Иванов
                                    .quote__position Редактор этого сайта

                            .item
                                .quote
                                    .quote__img
                                        img(src='/public/img/pic.jpg')
                                    a(href="#").quote__title Славутський вертеп свідчить про зародження театрального мистецтва України
                                    .quote__name Иван Иванов
                                    .quote__position Редактор этого сайта


                        .button.button_top
                            a(href="#") Показати бIльше




                        //.button

                //.wrapper__left



                .wrapper__right
                    .last-news
                        .last-news__title.icons_clock Останні новини

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою

                        .last-news__block
                            .last-news__date 16 Cічня 2019
                            a(href="#").last-news__text Серія коротких відеоісторій про українських майстрів та майстринь, які живуть своєю справою


                    //.last-news

                    .inform-block
                        .inform-block__pic Image
                        .inform-block__pic Image
                        .inform-block__pic Image


                //.wrapper__right

            //.wrapper

            .contacts-below.clearfix
                a(href="#").logo-small
                a(href="#").logo-second
                .button.button_text_red.button_left зВОРОТНIЙ зв'язок
                .social-bottom.clearfix
                    a(href="#").social-bottom__item.icons_tg-bl
                    a(href="#").social-bottom__item.icons_vk-bl
                .contacts-below__inform
                    .contacts-below__phone Опиисание
                    .contacts-below__phone Главный редактор
                    .contacts-below__addres г. Симферополь, ул. Название 00
                    .contacts-below__addres +79780000000
                    .contacts-below__email
                        a(href="#") info@mail.ru
                    .age-limit
                        span 16+
            //.contacts-below



            .footer

                .footer__nav-posit
                    .footer__nav-bg
                        .footer__nav
                            ul
                                li
                                    a(href="#") Новини
                                li
                                    a(href="#") Політика
                                li
                                    a(href="#") Суспільство
                                li
                                    a(href="#") Культура i традицiї
                                li
                                    a(href="#") Літературна сторінка
                                li
                                    a(href="#") Відома постать
                                li
                                    a(href="#") Їжа

                .footer__info.clearfix
                    .footer__copright 2018 © Украинская община Крыма. Все права защищены.
                    .footer__link Разработка -
                        a(href="#") ГУП РК «Крымтехнологии»

            //.footer

            .up-button.icons_arrow-up-white
