.add-link-container {
    color: #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.add-link-con1{
    white-space: nowrap;
    padding: 8px 2px 0 0;
}
.add-link-con2{
    width: 100%;
}
.add-link-con3{
     padding-left: 5px;
 }
.hidden-link {
    display: none;
}
.add-link-id-con
{
    margin-right: 10px;
    margin-top: -2px;
}
