.search
{

    &__icon
    {

        &_search
        {

            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMjYyNjI2OyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX3NlYXJjaF9ibGFjazwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik03LjQzLDEyLjU3YTUuMTQsNS4xNCwwLDEsMSw1LjE1LTUuMTUsNS4xMiw1LjEyLDAsMCwxLTUuMTUsNS4xNW02LS44NGE3LjE5LDcuMTksMCwwLDAsMS40MS00LjMsNy40Myw3LjQzLDAsMSwwLTcuNDMsNy40Myw3LjE5LDcuMTksMCwwLDAsNC4zLTEuNDFMMTguMjksMjAsMjAsMTguMjlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDApIi8+PC9zdmc+) no-repeat 50% 50%;

            &:hover
            {
                background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX3NlYXJjaF9yZWQ8L3RpdGxlPiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNy40MywxMi41N2E1LjE0LDUuMTQsMCwxLDEsNS4xNS01LjE1LDUuMTIsNS4xMiwwLDAsMS01LjE1LDUuMTVtNi0uODRhNy4xOSw3LjE5LDAsMCwwLDEuNDEtNC4zLDcuNDMsNy40MywwLDEsMC03LjQzLDcuNDMsNy4xOSw3LjE5LDAsMCwwLDQuMy0xLjQxTDE4LjI5LDIwLDIwLDE4LjI5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvc3ZnPg==) no-repeat 50% 50%;
            }
        }

        &_open
        {
            height: 32px;
            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMjYyNjI2OyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX3NlYXJjaF9ibGFjazwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik03LjQzLDEyLjU3YTUuMTQsNS4xNCwwLDEsMSw1LjE1LTUuMTUsNS4xMiw1LjEyLDAsMCwxLTUuMTUsNS4xNW02LS44NGE3LjE5LDcuMTksMCwwLDAsMS40MS00LjMsNy40Myw3LjQzLDAsMSwwLTcuNDMsNy40Myw3LjE5LDcuMTksMCwwLDAsNC4zLTEuNDFMMTguMjksMjAsMjAsMTguMjlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDApIi8+PC9zdmc+) no-repeat 50% 50%;

            &:hover
            {
                background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX3NlYXJjaF9yZWQ8L3RpdGxlPiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNy40MywxMi41N2E1LjE0LDUuMTQsMCwxLDEsNS4xNS01LjE1LDUuMTIsNS4xMiwwLDAsMS01LjE1LDUuMTVtNi0uODRhNy4xOSw3LjE5LDAsMCwwLDEuNDEtNC4zLDcuNDMsNy40MywwLDEsMC03LjQzLDcuNDMsNy4xOSw3LjE5LDAsMCwwLDQuMy0xLjQxTDE4LjI5LDIwLDIwLDE4LjI5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvc3ZnPg==) no-repeat 50% 50%;
            }
        }

        &_close
        {
            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMjUyNjI2OyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX2Nsb3NlX2JsYWNrPC90aXRsZT4gIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIwLDJMMTgsMCwxMCw4LDIsMCwwLDJsOCw4TDAsMThsMiwyLDgtOCw4LDgsMi0yLTgtOFptMCwwIi8+PC9zdmc+) no-repeat 50% 50%;

            &:hover
            {
                background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDIxMTNhOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5pY29uX2Nsb3NlX3JlZDwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yMCwyTDE4LDAsMTAsOCwyLDAsMCwybDgsOEwwLDE4bDIsMiw4LTgsOCw4LDItMi04LThabTAsMCIvPjwvc3ZnPg==) no-repeat 50% 50%;
            }
        }
    }
}
