.info-page
{
    background: $gray-light;

    &__posit
    {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 45px 0 37px;
    }

    &__posit-box
    {
        display: flex;

        justify-content: flex-start;

        @media (max-width: 570px)
        {
            display: block;
        }
    }

    &__left
    {
        padding-top: 18px;
        padding-left: 18px;

        @media (max-width: 570px)
        {
            text-align: center;
        }
    }

    &__right
    {
        position: relative;

        width: 100%;
        padding-bottom: 40px;

        @media (max-width: 830px)
        {
            padding-bottom: 130px;
        }
    }

    &__quotes
    {
        position: relative;

        display: inline-block;

        &::before
        {
            position: absolute;
            z-index: 20;
            top: -4px;
            left: -2px;

            display: block;

            width: 44px;
            height: 44px;

            content: '';

            border: 2px solid $white;
            border-radius: 42px;
            background: $red url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAALVBMVEX///////////////////////////////////////////////////////////+g0jAFAAAADnRSTlMAESIzRFVmd4iZu8zd7hkznE4AAABSSURBVHjaVcpLEoAwCAPQ0I/Qarn/cYXo1JHNG5IAcmgDwq41KMvdR7zX4/C8Bnud1LZG51bOv+BSkQHlsnzWxZga0IMBoIUzVLZcWyqHgGpJbjbvBWNXQkTaAAAAAElFTkSuQmCC) no-repeat 50% 50%;
        }
    }

    &__img
    {
        position: relative;

        overflow: hidden;

        width: 176px;
        height: 176px;

        border-radius: 176px;

        img
        {
            width: 100%;
        }
    }

    &__name
    {
        font-size: 180%;
        font-weight: bold;

        padding-top: 3px;
        padding-left: 20px;

        color: $gray-dark;
    }

    &__position
    {
        font-size: 160%;

        padding-top: 5px;
        padding-left: 20px;

        color: $gray-dark;
    }

    &__sub-info
    {
        position: absolute;
        bottom: 0;

        box-sizing: border-box;
        width: 100%;
        padding-top: 13px;
        padding-left: 20px;
    }

    &__date
    {
        font-size: 120%;

        float: left;

        padding-left: 29px;

        color: $gray;

        @media (max-width: 830px)
        {
            float: none;

            margin: 0 0 10px 0;
        }
    }

    &__topic
    {
        font-size: 100%;

        display: inline-block;
        float: left;

        margin: 0 35px 0 0;
        padding: 4px 15px 2px;

        text-transform: uppercase;

        color: $white;
        background: $red;

        @media (max-width: 830px)
        {
            float: none;

            margin: 0 0 10px 0;
        }
    }

    &__views
    {
        font-size: 120%;

        float: right;

        margin-right: 41px;
        padding-left: 31px;

        color: $gray;

        &::before
        {
            top: 3px;

            width: 20px;
            height: 13px;

            background-repeat: no-repeat;
        }

        @media (max-width: 830px)
        {
            float: none;

            margin: 0 0 10px 0;
        }
    }

    &__coment
    {
        font-size: 120%;

        float: right;

        padding-left: 25px;

        color: $gray;

        @media (max-width: 830px)
        {
            float: none;

            margin: 0 0 10px 0;
        }
    }
}
